<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Equipos</title>

    <script src="./html5-qrcode.min.js"></script>
    <style>
      body {
        background-color: lightslategrey;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      .container {
        background-color: rgb(35, 34, 34);
        width: 80%;
        padding: 20px;
        border: 1px solid white;

        margin: 0px auto;
        margin-top: 40px;
        border-radius: 5px;
        color: aliceblue;
      }
      h3 {
        text-align: center;
        margin-bottom: 50px;
      }

      .formulario {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
      .caja {
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
        /* display: none; */
      }

      button {
        background-color: rgb(93, 178, 97);
        height: 60px;
        margin-bottom: 20px;
        font-size: 200%;
        font-weight: bold;
        border: none;
        border-radius: 8px;
        cursor: pointer;
      }

      button:hover {
        background-color: rgb(63, 125, 66);
      }
      .is-hiden {
        display: none;
      }
    </style>

    <script>
      // Define the JavaScript function
      function onClickSerch() {
        
        document.getElementById("code").setAttribute('value', 'gggggg'); 
        
      }

      function onClickScaner() {
        document.getElementById("serch").classList.add("is-hiden");
      }
    </script>

    
  </head>

  <body>
    <!-- <button  onclick="escanear()"  >Scaner</button>  -->

    <div id="reader"></div>

    <div class="container">
      <h3>Equipos</h3>

      <form class="formulario" action="">
        <button type="button" id="scaner" onclick="escanear()">Escanear</button>
        <button type="button" id="serch" onclick="onClickSerch()">
          Buscar
        </button>

        <div class="caja">
          <label for="sistema">Sistema</label>
          <input id="sistema" list="sistemas" placeholder="Seleccione Sistema" />

          <datalist>
            <option>Freno</option>
            <option>Aceite</option>
            <option>Agua</option>
            <option>Soda</option>
            <option>Acelga</option>
          </datalist>
        </div>
        <div class="caja">
          <label for="equipo">Equipo</label>
          <input id="equipo" list="equipo" placeholder="Seleccione Equipo" />
          <datalist>
            <option>Freno</option>
            <option>Aceite</option>
            <option>Agua</option>
            <option>Soda</option>
            <option>Acelga</option>
          </datalist>
        </div>
        <div class="caja">
          <label for="code">Codigo</label>
          <input type="text" id="code" name="code">
        </div>
      </form>
    </div>

    <!--  Inicio codigo de barras     -->

    <script defer >
      const scanner = new Html5Qrcode ('reader', {
        qrbox: {
          width: 500,
          height: 150,
        },
        fps: 5,
      });
      function escanear() {
        scanner.render(success, error);
      }
      function success(result) {
        document.getElementById("code").setAttribute('value', `${result}`); 
        //console.log(`${result} Este es el resultado`);
        scanner.stop();

        document.getElementById("reader").remove();
      }

      function error(err) {
        console.warn(err);
      }
    </script>

    <!--                        Fin codigo de barras       -->
  </body>
</html>
